<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Member</h1>
        <table id="cutomers" border="1">
            <thead>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th colspan="2" id="mid">Action</th>
            </thead>
            
            <tr>
                <td>1</td>
                <td>Sukdeb</td>
                <td>Mondal</td>
                <td>India</td>
                <td>
                    <a href=""><button>Update</button></a>
                </td>
                <td>
                    <a href=""><button>Delete</button></a>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Sukdeb</td>
                <td>Mondal</td>
                <td>India</td>
                <td>
                    <a href=""><button>Update</button></a>
                </td>
                <td>
                    <a href=""><button>Delete</button></a>
                </td>
            </tr>
            
        </table>
        <br><br>
        <a href=""><button id="new3">Add Member</button></a>
    </div>
</body>
</html>